/*Auth*/

/*----*/

/* Загальні стилі */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
}

/*body {*/
/*  font-family: "Propysy", sans-serif;*/
/*}*/

/*Canas*/

/*File uploader */

/*--------------------------------*/
/*Result modal*/

/*Main page*/

/*Select Language*/
